/* phone and table devices (up to 1023px) */
@media screen and (max-width: 1023px) {
    /* toggle menu */
    #menu {
        display: none;
    }
     
    section {
        padding: 60px 30px;        
    }
     
    /* welcome section */
    .welcome-container {
        display: flex;
        flex-direction: column; 
    }
    .welcome-text {
        padding: 0 40px 0 0;
    }
    .welcome-img {
        padding: 2rem 0 0 0; 
    }  
    
    /* featuredby section */
    .featured div:not(:first-child) {
        margin-left: 10px;
    }

    /* about section */
    .about-container {
        display: flex;
        flex-direction: column-reverse; 
    }
    .about-img {
        padding: 2rem 0 0 0; 
    } 
}

/* phone devices (up to 767px) */
@media screen and (max-width: 767px) {
    section h1 {
        font-size: 2.25rem;
    }
    section p {
        font-size: 1.25rem;
    }

    .img-container {
        height: 300px; 
        width: 100%;   
    }

    /* welcome section */
    .extra-padding {
        padding-top: 5em;
    }

    /* featuredby section */
    .featured-img-container {
        height: 100px; 
        width: 100%;
    }

    /* quote section */
    #quote p {
        font-size: 1.75rem;
    }

    /* materials section */
    .materials-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .materials-item:not(:first-child) {
        padding: 24px 0 0 0;
    }
    .materials-item .img-container {
        height: 200px; 
        width: 100%;  
    }
    .materials-item h4 {
        font-size: 1.375rem;
        padding: 0;
        margin: 0;
        padding: 10px 0;
    } 
    .materials-item p {
        font-size: 1.125rem;
        padding: 0;
        margin: 0;
    } 

    /* cta section */
    #cta p {
        font-size: 1.75rem;
    }
}

/* tablet devices (from 768px to 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    section {
        padding: 80px 50px; 
    }

    /* materials section */
    .materials-container div {
        padding-right: 10px;
    }    
}
    
/* laptop devices (from 1024px) */
@media screen and (min-width: 1024px) {
    /* header toggle menu */
    header .fa-bars,
    header .fa-xmark {
        display: none;
    }
}

/* laptop devices (from 1024px to 1480px) */
@media screen and (min-width: 1024px) and (max-width: 1480px) {
    /* welcome section */
    .welcome-text {
        padding-right: 2rem;
    }

    /* featuredby section */
    .featured div:not(:first-child) {
        margin-left: 10px;
    }

    /* about section */
    .about-text {
        padding-left: 2rem;
    }

     /* materials section */
    .materials-container div {
        padding-right: 10px;
    }       
}