/* phone and table devices (up to 1023px) */
@media screen and (max-width: 1023px) {
    /* toggle menu */
     #menu {
        display: none;
     }
     
     section {
        padding: 60px 30px;        
     }
     
    /* welcome section */
     .welcome-container {
        display: flex;
        flex-direction: column; 
    }
<<<<<<< HEAD
    .welcome-right-text {
        padding: 0 40px 0 0;
    }
     .welcome-left-img {
        padding: 2rem 0 0 0; 
    }   
=======
>>>>>>> 0190dcc1e7584b2254af565816c5efb102ff316b
}

/* phone devices (up to 767px) */
@media screen and (max-width: 767px) {}

/* tablet devices (from 768px to 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    section {
        padding: 80px 50px; 
     }
}
    
/* laptop devices (from 1024px) */
@media screen and (min-width: 1024px) {
    /* header toggle menu */
    header .fa-bars,
    header .fa-xmark {
        display: none;
    }
}
