* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Cormorant Garamond', serif; 
    font-size: 2rem;
    font-style: normal;
    line-height: 1.4;
    color: rgb(17, 15, 15);
}

html,
body {
    width:100%;
    overflow-x:hidden;
}

button,
.button {
    padding: 1.25rem 1.75rem;
    text-align: center;
    border: none;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px #00000014;
    color: #122947;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.9px;
    cursor: pointer;
}
button:hover,
.button:hover {
    color: #fff;
    background-color: #122947;
    transition: 0.5s;
}
.button-container {
    margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Feijoa-Medium', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    line-height: 1.3;
    color: #122947;
    margin: 0 0 24px; 
}
h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 24px;
    letter-spacing: .12em;    
    text-transform: uppercase;
    color: #850e14;  
    filter: contrast(1.75);
}

html {
    scroll-behavior: smooth;
}

.img-container {
    display: flex;
    overflow: hidden;
    height: 400px; 
    width: 100%;   
}
img {
    border-radius: 3px;
    object-fit:cover;
    max-height:100%; 
    max-width: 100%;
}

p {
    font-size: 1.75rem;
    font-weight: 600;
    color:#122947cc;
    margin-top: 2rem;
}

section {
    padding: 110px 80px;
}

.extra-padding {
    padding-top: 8em;
    padding-bottom: 4em;
}

.section-center {
    text-align: center;
}
.section-brown {
    background: #f1ebea;
}
.section-white {
    background: #fff;
}
.section-gray {
    background: #f8f8f6;
}
.section-light-blue {
    background: #dde9ed;
}
.section-dark-blue {
    background: #122947;
}
.section-sand {
    background: #efd6ca;
}
.section-pink {
    background: #dec6c5;
}

header {
    position: fixed;
    width: 100%;
}
nav {
    height: 80px;
    width: 100%;
}
#logo {
    margin-left: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    text-transform: uppercase;
    letter-spacing: .12em;
    font-size: 1rem;
    line-height: 24px;
    font-weight: bolder;
    transition: color 0.3s ease;
    font-size: 17px;
    padding: 5px 20px;
}
nav ul li a:hover {
    color: #850e14;
    transition: .5s;
}

.fa-envelope {
    margin-left: 10px;
}

.check-btn {
    font-size: 30px;
    color: #122947;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

.welcome-container {
    display: flex;
    align-items: start;
    width: 100%;
}
.welcome-text {
    flex: 50%;
}
.welcome-text p {
    font-weight: 500;
}

.welcome-img {
    flex: 50%;
}
.welcome-img {
    justify-content: end;
}

.featured {
    display: flex;
    align-items: center;
}
.featured-img-container {
    height: 100px; 
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
}
.about-img {
    flex: 50%;    
    display: flex;
    justify-content: start;
}
.about-text {
    flex: 50%; 
}
.about-text p {
    font-weight: 500;
}

#quote p {
    font-size: 2.125rem;
    font-weight: 500;
}
#quote p span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.materials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
}
.materials-item {
    max-width: 300px;
    text-align: start;
}
.materials-item .img-container {
    height: 180px; 
    width: 100%;  
}
.materials-item h4 {
    font-size: 1.75rem;
    padding: 12px 0 0 0;
}
.materials-item p {
    font-size: 1.375rem;
    padding: 0 40px 0 0;
    font-weight: 500;
}

#cta p {
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0 20px 0;
}

#gallery {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto; 
}
.gallery-img,
.gallery-text {
    height: 100%;
    width: 100%;
    object-fit:cover;
    overflow: hidden;  
}

.gallery-img img {
    border-radius: 0;
    height: 340px;
}
.gallery-row {
    display: flex;
}
.gallery-column {
    display: flex;
    padding: 0;
}

.gallery-text h1 {
    font-size: 2.125rem;
}

.gallery-button {
    height: 60px;
}
.gallery-button .button {
    color: #fff;
    background-color: #122947;
}
.gallery-button .button:hover {
    color: #122947;
    background-color: #fff;
    transition: 0.5s;
}

#contact {
    display: flex;
    align-items: start;
    justify-content: start;
}
#contact, 
#contact h4, 
#contact p {
    color: #fff;
}
#contact p {
    font-size: 1.5rem;
    font-weight: 500;
}

.contact-text {
   flex: 50;
   padding-left: 3em;
}
.contact-form {
    flex: 50; 
    padding-left: 3em;
}

#contact-form {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    letter-spacing: 0.4px;
    width: 75%;
    padding-left: 4rem;
}

.form-field {
    margin-bottom: 10px;
}
.message-field {
    display: flex;
    flex-direction: column;
}

textarea {
    border-radius: 3px;
    padding: 16px 20px;
    margin: 8px 0;
}

input {
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
}
textarea,
input {
    font-family: inherit;
    font-size: inherit;
}
.required:after {
    content: " *";
    color:#ef525b;
}

#contact {
    display: flex;
}
#contact-form button {
    width: 30%;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#footer div {
    width: 20%;
    margin-right: 4rem;
}
#footer h6 {
    font-weight: 600;
}
#footer p {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 14px 0;
}

.footer-social-media p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social-media a {
    display: flex;
    flex-direction: row;
}
.footer-social-media p i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 12px;
    font-size: 22px;
    cursor: pointer;
}
.footer-social-media p i:hover {
   transform: scale(1.2);
   transition: 0.4s;
}

.footer-about p:hover,
.footer-social-media p:hover {
    color:#850e14;
    transition: 0.6s;
}

#copyright {
    text-align: center;
}
hr {
    border-top: 1px solid #f1ebea;
}
#copyright p {
    font-size: 16px;
    font-weight: 800;
    padding: 0 0 10px 0;
}



@media screen and (max-width: 1023px) {
    #logo {
        padding: 0 10px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .check-btn {
        display: block;
    
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f8f8f6;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
      display: block; 
      padding: 1rem; 
    }
    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    section {
        padding: 60px 30px;        
    }
     
    .welcome-container {
        display: flex;
        flex-direction: column; 
    }
    .welcome-text {
        padding: 0 40px 0 0;
    }
    .welcome-img {
        padding: 2rem 0 0 0; 
    }  
    
    .featured div:not(:first-child) {
        margin-left: 10px;
    }

    .about-container {
        display: flex;
        flex-direction: column-reverse; 
    }
    .about-img {
        padding: 2rem 0 0 0; 
    } 

    #contact {
        display: flex;
        flex-direction: column;
    }
    #contact-form {
        padding: 0;
        padding: 3rem 0 0 0;
        width: 100%;     
    }
    .contact-form,
    .contact-text {
        padding: 0;       
    }
    .form-field {
        width: 100%;
    }
    .form-field input,
    .form-field textarea {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #contact-form button {
        width: 45%;
    }
}

@media screen and (max-width: 767px) {
    section h1 {
        font-size: 2.25rem;
    }
    section p {
        font-size: 1.25rem;
    }

    .img-container {
        height: 300px; 
        width: 100%;   
    }

    .extra-padding {
        padding-top: 5em;
    }

    .featured-img-container {
        height: 100px; 
        width: 100%;
    }

    #quote p {
        font-size: 1.75rem;
    }

    #materials {
        padding: 60px 0;            
    }
    .materials-container {
        display: flex;
        flex-direction: column;
        justify-items: start;
        width: 100%;        
    }
    .materials-item:not(:first-child) {
        padding: 24px 0 0 0;
    }
    .materials-item .img-container {
        height: 200px; 
        width: 100%;  
    }
    .materials-item h4 {
        font-size: 1.375rem;
        padding: 0;
        margin: 0;
        padding: 10px 0;
    } 
    .materials-item p {
        font-size: 1.125rem;
        padding: 0;
        margin: 0;
    } 

    #cta p {
        font-size: 1.75rem;
    }

    #gallery {
        display: flex;
        flex-direction: column;
    }
    .gallery-text {
        padding: 20px 0;
    }

    #footer {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    #footer div {
        width: 100%;
        margin-right: 0;
        padding-top: 2rem;
    }
    #footer p {
        font-size: 18px;
        margin: 0 0 12px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    section {
        padding: 80px 50px; 
    }

    

    .materials-container {
        align-items: start;
    }
    .materials-container div {
        padding-right: 10px;
    }   
}
    
@media screen and (min-width: 1024px) {
    header .fa-bars,
    header .fa-xmark {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1480px) {    
    .welcome-text {
        padding-right: 2rem;
    }

    .featured div:not(:first-child) {
        margin-left: 10px;
    }

    .about-text {
        padding-left: 2rem;
    }

    .materials-container {
        align-items: start;
    }
    .materials-container div {
        padding-right: 10px;
    }    
}